/*
This theme's colors are taken from the popular Vim theme: 'Gruvbox'
https://github.com/morhetz/gruvbox
 */

:root {
    /* Shared colors */
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
}

body {
    padding: 19px;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Open Sans', Arial, sans-serif;
}

.input-text {
    padding: 0.4em 0.8em;
    margin: 0.8em 0.4em;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
}

.button-submit {
    display: inline-block;
    padding: 0.4em 0.8em;
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
    text-decoration: none;
    background: var(--foreground);
    color: var(--background);
    font-family: 'Lilita One', Arial, sans-serif;
    font-size: 1.2em;
}
